// Сброс глобальных стилей, которые чаще всего будут мешать.
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

// Отключение эластичности скролла, без него граница списка задачи и фон модального окна выглядят более органично.
// Можно решить с помощью дизайнерских хитростей, когда эластичный скролл органично продолжает страницу.
html, body {
  overflow-y: hidden;
  overscroll-behavior-y: none;
}

.App {
  position: relative;
  display: grid;
  height: 100vh;
  color: white;
  background-color: #181818;

  .widthManipulator {
    position: absolute;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: #181818;
    cursor: col-resize;
  }
}